/* navbar css */
.me-2 {
    /* for search box */
    width: 38rem;   
}

@media screen {}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
}

.search{
    padding-left: 1rem;
}

.login {
    /* giving padding in log in button */
    padding-right:2rem;
}
/* navbar css ends */

/* carousal css starts  */

.w-100 {
    height: 80vh;
    width: 100% !important;
}

/* carousal css ends  */

/* doctors css starts */
.row {
    justify-content: space-around;
    padding-top: 1rem;
}

@media (min-width: 576px) {
    h2 {
        /* font-size: 2rem; */
        padding: 2rem;
        display: flex;
        justify-content: center;
    }
}

/* footer starts here */
.footer{
    background-color: rgb(45, 45, 45);
}

/* for symptoms */
.symptoms{
    background-color: #f8f8fb;
}

/* for padding in appointment section  */
.appointment{
    padding-bottom: 2rem;
}

/* for smooth scorling */
html{
    scroll-behavior: smooth;
}

/* giving animation in crousal */
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes faderight {
    from{
        opacity: 0;
        transform:rotate3d(180);
    }
    to{
        opacity: 1;
        transform: rotate3d(0);
    }
}

.crousal-img{
    animation: fadein 3s;
}
.crousal-text{
    animation: faderight 4s;
}